<h1>Adventures</h1>
<% @user.trails.each do |trail| %>
    
    <%= trail.name %>
    <%= trail.user.username %>
    <%= trail.distance %>




    </div>



  <%end%>

  <%= link_to "Home", root_path %> |
  <%= link_to "Index", trails_path %> |
  <% if current_user %>
  <%= link_to "Add a new trail", new_user_trail_path(@user) %>
  <% end %>
