<h1>Adventures</h1>
<% @user.trails.each do |trail| %>
    
    <%= trail.name %>
    <%= trail.user.username %>
    <%= trail.distance %>




    </div>



  <%end%>

  <%= link_to "Home", root_path %> |
  <%= link_to "Index", trails_path %> |
  <% if current_user %>
  <%= link_to "Add a new trail", new_user_trail_path(@user) %>
  <% end %>

  <% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>

