<h1>Add a new trail</h1>

<%= form_for new_user_trail_path do |f| %>
    <%= f.text_field :name %>
    <%= f.label "Image:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.file_field :image %>
        
      

        <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>