<h1>Log In</h1>
<hr/>
<%= form_tag login_path do %>
  <label>Username: </label><%= collection_select :user, :username, User.all, :username, :username, {prompt: true} %><br/>
  <label>Password: </label><input type="password" name="user[password]" id="password"><br/>
  <input type="submit" value="Log In">
<% end %>

<% if session[:user_id] %>
  <h1>Name: <%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
